{
	"env": {
		"es6": true,
		"es2017": true
	},

	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking"
	],

	"parser": "@typescript-eslint/parser",

	"parserOptions": {
		"project": "tsconfig.json",
		"tsconfigRootDir": "."
	},

	"plugins": ["@typescript-eslint"],
	"rules": {
		"comma-dangle": [1, "always-multiline"],
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/restrict-template-expressions": "off",
		"@typescript-eslint/no-unsafe-return": "off"
	}
}
